{% extends 'base.html' %} {% block title %} {{message}} {% endblock %} {% block
content %}
<form method="POST">
  {{form.hidden_tag()}} {% for field in form if field.widget.input_type !=
  'hidden' %}

  <p>
    {{ field.label }} {{ field (class_= 'form-control')}} {% for error in
    field.errors %} <small class="form-text text-danger">{{ error }}</small> {%
    endfor %}
  </p>

  {% endfor %}
  <div class="d-inline">
    <button type="submit" class="btn btn-success mb-3">Submit</button>
    {% if message == 'Register new user:'%}
    <a class="btn btn-info mb-3" href="/login">Login</a>
    {% else %}
    <a href="/register" class="btn btn-info mb-3">Register</a>
    {% endif %}
  </div>
</form>
{% endblock %}
